## Apply a function to each column in a DataFrame

In [1]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [2]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [3]:
# apply lambda function to double each column
df = df.apply(lambda x: x*2, axis=1)

# display the resulting DataFrame
df

   A   B   C
0  2   8  14
1  4  10  16
2  6  12  18

## Apply a function to each row in a DataFrame

In [4]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [5]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [6]:

# apply the row_sum function to each row
df['row_sum'] = df.apply(lambda x : (x['A'] + x['B'] + x['C']), axis=1)

# display the resulting DataFrame
df

   A  B  C  row_sum
0  1  4  7       12
1  2  5  8       15
2  3  6  9       18

## Apply a function to a subset of columns in a DataFrame

In [7]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [8]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [9]:
# apply the add_cols function to columns A and B
df['AB_sum'] = df[['A', 'B']].apply(lambda x: x['A']+ x['B'], axis=1)

# display the resulting DataFrame
df

   A  B  C  AB_sum
0  1  4  7       5
1  2  5  8       7
2  3  6  9       9