Bin a Pandas DataFrame using the cut() function

Create a sample Pandas DataFrame with columns 'A', 'B', and 'C'. 

Define the bins and labels that we want to use for binning. 

then create a new column 'D' using the cut() function, where we bin the values in column 'A' using the specified bins and labels. 

Create another new column 'E' using the cut() function, where we bin the values in column 'C' using 3 equal-width bins, with a custom label for NaN values. 


Use the cat.add_categories() function to add the label 'unknown' to the categories of the resulting categorical data, and the fillna() function to replace NaN values with 'unknown'. 


Finally, print the resulting DataFrame, which now has the columns 'A', 'B', 'C', 'D', and 'E', where columns 'D' and 'E' contain the binned values.

In [2]:
import pandas as pd
import numpy as np

# create a hardcoded Pandas DataFrame
df = pd.DataFrame({'A': [10, 20, 30, 40, 50], 
                   'B': ['a', 'b', 'c', 'd', 'e'],
                   'C': [100, 200, 300, 400, 500]})

# define the bins and labels
bins = [0, 20, 40, 60]
labels = ['low', 'medium', 'high']

# create a new column 'D' with the binned values
df['D'] = pd.cut(df['A'], bins=bins, labels=labels)

# create a new column 'E' with the binned values and a custom label for the NaN values
df['E'] = pd.cut(df['C'], bins=3, labels=['low', 'medium', 'high'], include_lowest=True, right=False, 
                 retbins=False, precision=2).cat.add_categories(['unknown']).fillna('unknown')


df

    A  B    C       D       E
0  10  a  100     low     low
1  20  b  200     low     low
2  30  c  300  medium  medium
3  40  d  400  medium    high
4  50  e  500    high    high