In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("./Ticker.csv")

In [12]:
df.head(3)

         Date      Close Ticker
0  2021-08-20  88.940002   ORCL
1  2021-08-23  89.120003   ORCL
2  2021-08-24  88.550003   ORCL

lambda function syntax can be applied for more complex calculations even for each group in a group by

In [13]:
df["DailyReturn"] = df.sort_values("Date").groupby("Ticker")["Close"]\
                                         .transform(lambda x: x / x.shift(1) - 1)

In [14]:
df

           Date       Close Ticker  DailyReturn
0    2021-08-20   88.940002   ORCL          NaN
1    2021-08-23   89.120003   ORCL     0.002024
2    2021-08-24   88.550003   ORCL    -0.006396
3    2021-08-25   88.620003   ORCL     0.000791
4    2021-08-26   88.720001   ORCL     0.001128
..          ...         ...    ...          ...
751  2022-08-15  143.179993   MAZN    -0.002578
752  2022-08-16  144.779999   MAZN     0.011175
753  2022-08-17  142.100006   MAZN    -0.018511
754  2022-08-18  142.300003   MAZN     0.001407
755  2022-08-19  138.229996   MAZN    -0.028602

[756 rows x 4 columns]

## Get Previous day's Close Price for each Ticker

No need to use the transform function because shift naturally returns a value for each row in the data, rather than an aggregation.

In [15]:
df1 = df.copy()

In [16]:
df1['PreviousClose'] = df1.sort_values("Date").groupby("Ticker")["Close"].shift(1)

In [17]:
df1.head(5)

         Date      Close Ticker  DailyReturn  PreviousClose
0  2021-08-20  88.940002   ORCL          NaN            NaN
1  2021-08-23  89.120003   ORCL     0.002024      88.940002
2  2021-08-24  88.550003   ORCL    -0.006396      89.120003
3  2021-08-25  88.620003   ORCL     0.000791      88.550003
4  2021-08-26  88.720001   ORCL     0.001128      88.620003