In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("./CommutativeOccupancy.csv")

In [13]:
df

         date  CommutativeOccupancy
0    1/1/2020                   2.0
1    2/1/2020                   5.0
2    3/1/2020                   6.0
3    4/1/2020                   9.0
4    5/1/2020                   NaN
5    6/1/2020                  10.0
6    7/1/2020                  12.0
7    8/1/2020                  14.0
8    9/1/2020                  15.0
9   10/1/2020                  18.0
10  11/1/2020                  20.0
11  12/1/2020                  23.0
12  13/1/2020                  24.0
13  14/1/2020                  26.0
14  15/1/2020                   NaN
15  16/1/2020                  29.0
16  17/1/2020                  31.0
17  18/1/2020                  33.0
18  19/1/2020                   NaN
19  20/1/2020                   NaN
20  21/1/2020                  35.0
21  22/1/2020                  37.0
22  23/1/2020                  38.0
23  24/1/2020                  41.0
24  25/1/2020                   NaN
25  26/1/2020                  42.0
26  27/1/2020                  44.0
27  28/1/2020                  46.0
28  29/1/2020                  47.0
29  30/1/2020                  48.0
30  31/1/2020                  49.0

# Forward fill

In [14]:
df = df.ffill(axis=0)

In [15]:
df

         date  CommutativeOccupancy
0    1/1/2020                   2.0
1    2/1/2020                   5.0
2    3/1/2020                   6.0
3    4/1/2020                   9.0
4    5/1/2020                   9.0
5    6/1/2020                  10.0
6    7/1/2020                  12.0
7    8/1/2020                  14.0
8    9/1/2020                  15.0
9   10/1/2020                  18.0
10  11/1/2020                  20.0
11  12/1/2020                  23.0
12  13/1/2020                  24.0
13  14/1/2020                  26.0
14  15/1/2020                  26.0
15  16/1/2020                  29.0
16  17/1/2020                  31.0
17  18/1/2020                  33.0
18  19/1/2020                  33.0
19  20/1/2020                  33.0
20  21/1/2020                  35.0
21  22/1/2020                  37.0
22  23/1/2020                  38.0
23  24/1/2020                  41.0
24  25/1/2020                  41.0
25  26/1/2020                  42.0
26  27/1/2020                  44.0
27  28/1/2020                  46.0
28  29/1/2020                  47.0
29  30/1/2020                  48.0
30  31/1/2020                  49.0

# Difference Function

In [17]:
df['DailyOccupancy'] = df['CommutativeOccupancy'].diff()

In [18]:
df

         date  CommutativeOccupancy  DailyOccupancy
0    1/1/2020                   2.0             NaN
1    2/1/2020                   5.0             3.0
2    3/1/2020                   6.0             1.0
3    4/1/2020                   9.0             3.0
4    5/1/2020                   9.0             0.0
5    6/1/2020                  10.0             1.0
6    7/1/2020                  12.0             2.0
7    8/1/2020                  14.0             2.0
8    9/1/2020                  15.0             1.0
9   10/1/2020                  18.0             3.0
10  11/1/2020                  20.0             2.0
11  12/1/2020                  23.0             3.0
12  13/1/2020                  24.0             1.0
13  14/1/2020                  26.0             2.0
14  15/1/2020                  26.0             0.0
15  16/1/2020                  29.0             3.0
16  17/1/2020                  31.0             2.0
17  18/1/2020                  33.0             2.0
18  19/1/2020                  33.0             0.0
19  20/1/2020                  33.0             0.0
20  21/1/2020                  35.0             2.0
21  22/1/2020                  37.0             2.0
22  23/1/2020                  38.0             1.0
23  24/1/2020                  41.0             3.0
24  25/1/2020                  41.0             0.0
25  26/1/2020                  42.0             1.0
26  27/1/2020                  44.0             2.0
27  28/1/2020                  46.0             2.0
28  29/1/2020                  47.0             1.0
29  30/1/2020                  48.0             1.0
30  31/1/2020                  49.0             1.0

In [20]:
df['DailyOccupancy'] = df['DailyOccupancy'].fillna(df['CommutativeOccupancy'])

In [21]:
df

         date  CommutativeOccupancy  DailyOccupancy
0    1/1/2020                   2.0             2.0
1    2/1/2020                   5.0             3.0
2    3/1/2020                   6.0             1.0
3    4/1/2020                   9.0             3.0
4    5/1/2020                   9.0             0.0
5    6/1/2020                  10.0             1.0
6    7/1/2020                  12.0             2.0
7    8/1/2020                  14.0             2.0
8    9/1/2020                  15.0             1.0
9   10/1/2020                  18.0             3.0
10  11/1/2020                  20.0             2.0
11  12/1/2020                  23.0             3.0
12  13/1/2020                  24.0             1.0
13  14/1/2020                  26.0             2.0
14  15/1/2020                  26.0             0.0
15  16/1/2020                  29.0             3.0
16  17/1/2020                  31.0             2.0
17  18/1/2020                  33.0             2.0
18  19/1/2020                  33.0             0.0
19  20/1/2020                  33.0             0.0
20  21/1/2020                  35.0             2.0
21  22/1/2020                  37.0             2.0
22  23/1/2020                  38.0             1.0
23  24/1/2020                  41.0             3.0
24  25/1/2020                  41.0             0.0
25  26/1/2020                  42.0             1.0
26  27/1/2020                  44.0             2.0
27  28/1/2020                  46.0             2.0
28  29/1/2020                  47.0             1.0
29  30/1/2020                  48.0             1.0
30  31/1/2020                  49.0             1.0