In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./mycars.csv")

In [3]:
df.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,avgmpg
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189,20.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172,27.5
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183,25.5
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186,24.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197,21.0

In [4]:
df['MSRP'] = df.apply(lambda x: str(x['MSRP']).replace(',', ''), axis=1)

In [5]:
df['MSRP'].head(4)

0    $36945
1    $23820
2    $26990
3    $33195
Name: MSRP, dtype: object

In [6]:
df['Invoice'] = df['Invoice'].str.replace(r'$', r'', regex=True)

In [7]:
df['Invoice'] = df['Invoice'].str.replace(r',' , r'', regex=True)

In [8]:
df['Invoice'] = df['Invoice'].astype('float')