In [9]:
import pandas as pd

# Create a sample dataframe
df = pd.DataFrame({'A': ['foo', 'foo', 'bar', 'bar', 'foo', 'bar'],
                   'B': [1, 2, 3, 4, 5, 6],
                   'C': [2.0, 3.0, 4.0, 5.0, 6.0, 7.0]
                   })

In [10]:
# Group the dataframe by column 'A'
# Using the apply function to calculate the mean of columns B & C for each group

mean_BC = df.groupby('A').apply(lambda x: x[['B','C']].mean())
mean_BC

            B         C
A
bar  4.333333  5.333333
foo  2.666667  3.666667

 the apply function is used to calculate the mean of columns 'B' and 'C' for each group 'A' and returns a new dataframe.

In [13]:
# Group the dataframe by column 'A'
# Using the transform function to calculate the mean of columns for each group
#  transform expects a function that returns a same-shaped object as the input
mean_BC = df.groupby('A').transform(lambda x: x.mean())
mean_BC

          B         C
0  2.666667  3.666667
1  2.666667  3.666667
2  4.333333  5.333333
3  4.333333  5.333333
4  2.666667  3.666667
5  4.333333  5.333333

transform function is used to calculate the mean of columns for each group 'A' and returns a same shape dataframe but with the transformed values for columns

In [15]:
df['mean_C'] = df.groupby('A')['C'].transform(lambda x: x.mean())

In [16]:
df

     A  B    C    mean_C
0  foo  1  2.0  3.666667
1  foo  2  3.0  3.666667
2  bar  3  4.0  5.333333
3  bar  4  5.0  5.333333
4  foo  5  6.0  3.666667
5  bar  6  7.0  5.333333