In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./Ticker.csv")

In [3]:
df.head(3)

         Date      Close Ticker
0  2021-08-20  88.940002   ORCL
1  2021-08-23  89.120003   ORCL
2  2021-08-24  88.550003   ORCL

In [6]:
import random

# remove 20% of data randomly
pct_missing = 0.2
num_missing = int(pct_missing * len(df))
indexes = random.sample(range(len(df)), k=num_missing)
mask = [i in indexes for i in range(len(df))]

# mask the dataframe with some random NaNs
df["Close"] = df["Close"].mask(mask)

In [8]:
df.head(5)

         Date      Close Ticker
0  2021-08-20        NaN   ORCL
1  2021-08-23  89.120003   ORCL
2  2021-08-24        NaN   ORCL
3  2021-08-25  88.620003   ORCL
4  2021-08-26  88.720001   ORCL

In [9]:
# interpolate missing data paritioned by ticker

df['Close_Interpolated'] = df.sort_values('Date').groupby('Ticker')['Close']\
                                                                 .transform(lambda x: x.interpolate(method='ffill'))

In [10]:
df.head(5)

         Date      Close Ticker  Close_Interpolated
0  2021-08-20        NaN   ORCL                 NaN
1  2021-08-23  89.120003   ORCL           89.120003
2  2021-08-24        NaN   ORCL           89.120003
3  2021-08-25  88.620003   ORCL           88.620003
4  2021-08-26  88.720001   ORCL           88.720001