calculate month-on-month change

convert the 'date' column to a datetime object and sort the DataFrame by the 'date' column. 

create a new column 'value_lag' containing the value from the previous month using the shift() function. 

Finally, create a new column 'month_on_month_change' containing the month-on-month change in value by subtracting the 'value_lag' column from the 'value' column. 

The resulting DataFrame will show the month-on-month change in value for each row.

In [1]:
import pandas as pd

# create a hardcoded Pandas DataFrame
df = pd.DataFrame({'date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01'], 
                   'value': [10, 20, 15, 30, 25]})

# convert the 'date' column to a datetime object
df['date'] = pd.to_datetime(df['date'])

# sort the DataFrame by the 'date' column
df = df.sort_values('date')

# create a new column 'value_lag' containing the value from the previous month
df['value_lag'] = df['value'].shift(1)

# create a new column 'month_on_month_change' containing the month-on-month change in value
df['month_on_month_change'] = df['value'] - df['value_lag']

df

        date  value  value_lag  month_on_month_change
0 2022-01-01     10        NaN                    NaN
1 2022-02-01     20       10.0                   10.0
2 2022-03-01     15       20.0                   -5.0
3 2022-04-01     30       15.0                   15.0
4 2022-05-01     25       30.0                   -5.0