In [1]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Year': ['2019', '2019', '2020', '2020', '2021', '2021'],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2', 'Q1', 'Q2'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'South'],
    'Sales': [100, 150, 200, 175, 250, 300],
}
df = pd.DataFrame(data)

In [2]:
df

   Year Quarter Region  Sales
0  2019      Q1  North    100
1  2019      Q2  South    150
2  2020      Q1  North    200
3  2020      Q2  South    175
4  2021      Q1  North    250
5  2021      Q2  South    300

In [3]:
# Create a pivot table with multiple indexes
pivot_table = pd.pivot_table(df, index=['Year', 'Region'], columns='Quarter', values='Sales')

In [4]:
pivot_table

Quarter         Q1     Q2
Year Region
2019 North   100.0    NaN
     South     NaN  150.0
2020 North   200.0    NaN
     South     NaN  175.0
2021 North   250.0    NaN
     South     NaN  300.0