In [4]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Year': ['2019', '2019', '2020', '2020', '2021', '2021'],
    'Quarter': ['Q1', 'Q2', 'Q1', 'Q2', 'Q1', 'Q2'],
    'Sales': [100, 150, 200, 175, 250, 300],
}
df = pd.DataFrame(data)

In [5]:
df

   Year Quarter  Sales
0  2019      Q1    100
1  2019      Q2    150
2  2020      Q1    200
3  2020      Q2    175
4  2021      Q1    250
5  2021      Q2    300

In [6]:
# Create a pivot table
pivot_table = df.pivot(index='Year', columns='Quarter', values='Sales')

pivot_table

Quarter   Q1   Q2
Year
2019     100  150
2020     200  175
2021     250  300