In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_json('.\product.json')

In [3]:
df

            Product  Price
0  Desktop Computer    700
1            Tablet    250
2            iPhone    800
3            Laptop   1200

In [4]:
people_df = pd.read_json("./people.json")

In [5]:
people_df

     name   age
0  Macsim   NaN
1   Donad  30.0
2   Steve  19.0

https://datatofish.com/load-json-pandas-dataframe/