use regex to manipulate string columns

Create Pandas DataFrame df with a string column 'A' and a numerical column 'B'

then use the .str accessor to apply regex patterns to manipulate the 'A' column

First, use the extract() method to extract the numbers from the 'A' column and create a new column 'C' with the extracted values

Next, use the replace() method to replace all lowercase letters in the 'A' column with the character 'X'

Finally, use the split() method to split the 'A' column into three columns 'D', 'E', and 'F', with the middle column ('E') containing the extracted numbers. 

use regex capture groups to keep the extracted numbers in the middle column and put the rest of the string in the first and third columns

The resulting DataFrame contains the original columns 'A' and 'B', as well as the new columns 'C', 'D', 'E', and 'F' that were created using regex patterns.

In [1]:
import pandas as pd
import numpy as np

# create a hardcoded Pandas DataFrame with a string column
df = pd.DataFrame({'A': ['abc123', 'def456', 'ghi789', 'jkl012'],
                   'B': [10, 20, 30, 40]})

# apply a regex pattern to extract numbers from column A
df['C'] = df['A'].str.extract(r'(\d+)', expand=False)

# apply a regex pattern to replace characters in column A
df['A'] = df['A'].str.replace(r'[a-z]', 'X')

# apply a regex pattern to split column A into multiple columns
df[['D', 'E', 'F']] = df['A'].str.split(r'(\d+)', expand=True)[[1, 0, 2]]

df

C:\Users\Home\AppData\Local\Temp/ipykernel_15604/2772964516.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  df['A'] = df['A'].str.replace(r'[a-z]', 'X')

        A   B    C    D    E F
0  XXX123  10  123  123  XXX
1  XXX456  20  456  456  XXX
2  XXX789  30  789  789  XXX
3  XXX012  40  012  012  XXX