sort the DataFrame by the 'revenue' column in descending order. 

Then, extract the product with the highest revenue and assign it to the variable 'highest_revenue_product' using the iloc() function to select the first row. 


extract the product with the second highest revenue and assign it to the variable 'second_highest_revenue_product' using the iloc() function to select the second row. 

Finally, print out the names of the two products.

In [2]:
import pandas as pd

# create a hardcoded Pandas DataFrame
df = pd.DataFrame({'product': ['A', 'B', 'C', 'D', 'E'], 
                   'revenue': [100, 200, 150, 300, 250]})

# sort the DataFrame by the 'revenue' column in descending order
df = df.sort_values('revenue', ascending=False)

In [3]:
df

  product  revenue
3       D      300
4       E      250
1       B      200
2       C      150
0       A      100

In [1]:
# extract the product with the highest revenue and assign it to the variable 'highest_revenue_product'
highest_revenue_product = df.iloc[0]['product']

# extract the product with the second highest revenue and assign it to the variable 'second_highest_revenue_product'
second_highest_revenue_product = df.iloc[1]['product']

print("The product with the highest revenue is", highest_revenue_product)
print("The product with the second highest revenue is", second_highest_revenue_product)

The product with the highest revenue is D
The product with the second highest revenue is E