In [1]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'value': [10, 20, 15, 25, 30]
})

# Convert the 'date' column to a datetime object
df['date'] = pd.to_datetime(df['date'])

In [2]:
df

        date  value
0 2022-01-01     10
1 2022-01-02     20
2 2022-01-03     15
3 2022-01-04     25
4 2022-01-05     30

In [3]:
# Calculate a rolling mean with window size 3
df['rolling_mean'] = df['value'].rolling(window=3).mean()

df

        date  value  rolling_mean
0 2022-01-01     10           NaN
1 2022-01-02     20           NaN
2 2022-01-03     15     15.000000
3 2022-01-04     25     20.000000
4 2022-01-05     30     23.333333