In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv("./mycars.csv")

df['Invoice'] = df['Invoice'].str.replace(r'$', r'', regex=True)
df['Invoice'] = df['Invoice'].str.replace(r',' , r'', regex=True)
df['Invoice'] = df['Invoice'].astype('float')

In [5]:
# as_index=False does not work

# need to specify which column would be used in aggregation
data1 = df.groupby(['Make', 'Model', 'Origin'])['Invoice'].agg(\
                                                        [('InvoiceMean', np.mean), ('InvoiceSum', np.sum)])

In [7]:
data1 = data1.reset_index()

In [8]:
data1.head()

    Make                    Model Origin  InvoiceMean  InvoiceSum
0  Acura               3.5 RL 4dr   Asia      39014.0     39014.0
1  Acura  3.5 RL w/Navigation 4dr   Asia      41100.0     41100.0
2  Acura                      MDX   Asia      33337.0     33337.0
3  Acura   NSX coupe 2dr manual S   Asia      79978.0     79978.0
4  Acura           RSX Type S 2dr   Asia      21761.0     21761.0