In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./mycars.csv")

In [3]:
# along with sorting 
df['identifier1'] = df.apply(lambda x: '_'.join(sorted([x.Make, x.Model, x.Origin])), axis=1)

In [4]:
df['identifier1']

0                            Acura_Asia_MDX
1                 Acura_Asia_RSX Type S 2dr
2                        Acura_Asia_TSX 4dr
3                         Acura_Asia_TL 4dr
4                     3.5 RL 4dr_Acura_Asia
                       ...
423    C70 LPT convertible 2dr_Europe_Volvo
424    C70 HPT convertible 2dr_Europe_Volvo
425                 Europe_S80 T6 4dr_Volvo
426                        Europe_V40_Volvo
427                       Europe_Volvo_XC70
Name: identifier1, Length: 428, dtype: object

In [5]:
# if sorting is not required 
df['identifier3'] = df.apply(lambda x: '_'.join([x['Make'], x['Model'], x['Origin']]), axis=1)

In [6]:
df['identifier3']

0                            Acura_MDX_Asia
1                 Acura_RSX Type S 2dr_Asia
2                        Acura_TSX 4dr_Asia
3                         Acura_TL 4dr_Asia
4                     Acura_3.5 RL 4dr_Asia
                       ...
423    Volvo_C70 LPT convertible 2dr_Europe
424    Volvo_C70 HPT convertible 2dr_Europe
425                 Volvo_S80 T6 4dr_Europe
426                        Volvo_V40_Europe
427                       Volvo_XC70_Europe
Name: identifier3, Length: 428, dtype: object